.flex
  .w-20= diploma.name
  .w-4= diploma.rank
  .w-12= diploma.course
  .w-20= diploma.club
  .w-20= diploma.cardnumber
  .w-20= diploma.start
  .w-20= diploma.finish
  .w-20= diploma.result
  .w-16= diploma.category