.max-w-2xl.text-center.font-bold{ style: 'width: 600px; height: 600px;' }
  .bg-diploma.bg-cover.bg-center.bg-no-repeat.flex.flex-col.items-center.w-full.p-2.pb-4{ style: 'background-repeat: no-repeat; background-position: center; color:rgba(0,0,0);'}
    %div{ style: 'height: 238px;' }
    .w-full.text-xl{ style: 'font-size: 36px; line-height: 1.5em;'}= @diploma.gameclass || '-'
    .w-full.text-xl{ style: 'font-size: 36px; line-height: 1.5em;'}= @diploma.number || '-'
    .w-full.text-xl{ style: 'font-size: 36px; line-height: 1.5em;'}= "#{@diploma.club} #{@diploma.name}"
    .w-full.text-xl{ style: 'font-size: 36px; line-height: 1.5em;'}= @diploma.result || '-'
    %div{ style: 'height: 122px;' }
