.max-w-2xl.relative.text-center
  .-z-10
    = image_pack_tag('media/images/bg.png', class: 'w-full h-full object-cover')
  .absolute.top-40.right-24.flex.flex-col.justify-end.items-center.h-96.p-2.text-3xl{style: 'position: absolute; top: 20.5rem; right: 8rem; font-size:1.875rem;line-height:2.25rem;color:rgba(255,255,255,100);'}
    .py-4.text-center{ style: 'padding-top:.8rem;padding-bottom:.8rem' }= @diploma.name
    .py-4.text-center{ style: 'padding-top:.8rem;padding-bottom:.8rem' }= @diploma.category
    .py-4.text-center{ style: 'padding-top:.8rem;padding-bottom:.8rem' }= @diploma.gameclass
    .py-4.text-center{ style: 'padding-top:.8rem;padding-bottom:.8rem' }= @diploma.result
