.flex.space-x-1.text-sm.md:text-base
  .w-8= diploma.rank
  .w-32= diploma.name
  .w-32= diploma.club
  .w-12= diploma.gameclass
  .hidden.md:block.w-20= diploma.start
  .hidden.md:block.w-20= diploma.finish
  .w-20= diploma.result