- bg = diploma_counter % 2 == 0 ? 'bg-opacity-70' : 'bg-opacity-40';
.flex.space-x-1.px-1.text-sm.md:text-base.bg-gray-50{ class: bg }
  .w-12= diploma_counter == 0 ? '종목' : diploma.gameclass
  .w-8= diploma_counter == 0 ? '순위' : diploma.rank
  .w-32= diploma_counter == 0 ? '이름' : diploma.name
  .w-32= diploma_counter == 0 ? '클럽' : diploma.club
  .w-20= diploma_counter == 0 ? '기록' : diploma.result
  .hidden.md:block.w-20= diploma_counter == 0 ? '시작시간' : diploma.start
  .hidden.md:block.w-20= diploma_counter == 0 ? '종료시간' : diploma.finish
