.flex.flex-col.justify-center.items-center
  .my-8.border.border-gray-200
    = render @diploma

  .flex.space-x-2
    = link_to '다운로드', diploma_path(@diploma, download: true, format: :png), class: 'text-white ml-2 py-2 px-4 h-9 bg-primary-800 rounded'
    = link_to "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdiploma.orienteering.co.kr%2Fdiplomas%2F#{@diploma.id}&amp;src=sdkpreparse", target: '_blank', style: 'background-color: #1877f2;', class: 'flex rounded text-white py-1.5 p-2' do
      = image_pack_tag "media/images/social-facebook.png", class: 'w-6 h-6 mr-1'
      공유하기
    = link_to "#", style: 'background-color: #fee500; color: #381f20;', class: 'flex rounded text-white py-1.5 p-2', data: { controller: 'kakao', action: 'kakao#post', 'kakao-image-value': diploma_url(@diploma, host: Rails.application.config.asset_host) } do
      = image_pack_tag "media/images/social-kakao.png", class: 'w-6 h-6 mr-1'
      공유하기
    