!!!
%html
  %head
    = display_meta_tags site: '플레이 오 그라운드 2021'
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbo-track': 'reload'
    %link{rel: :stylesheet, href: "https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"}
    %script{ src: "https://developers.kakao.com/sdk/js/kakao.js" }
  %body
    = render 'application/flash_messages'
    .flex.mt-4.mb-20.max-w-3xl.mx-4.mx-auto{ class: 'md:mt-8' }
      .flex-1.min-w-0
        = yield
